<!DOCTYPE html>
<html>
  <head>
    <title>JusTalk</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <script src="https://use.fontawesome.com/f9c757fcf9.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style2.css' />

  </head>
  <body>
      <div class='ppl-section'>
          <div class='top-section'>
              <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
              <h3>JusTalk</h3>
              <div>
                  <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i>
                  <div class='dropdown-content'>
                      <form>
                          <input class='add-convo-text' type='text' placeholder="Enter Recipient Username">
                          <button>Add Convo</button>
                      </form>
                      <p class='no-user'>Error: User does not exist.</p>
                  </div>
              </div>

          </div>
          <div class='bot-section'>
              <form>
                  <input class='searchbox' type='text' placeholder="Search Messages">
              </form>
              <ul class='convo-list'>
                  <li class='mini'>
                      <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                      <h4>Parth Butani</h4>
                  </li>
              </ul>
          </div>
      </div>

      <div class='msg-section'>
          <div class='top-section'>
              <h3>Parth Butani</h3>
          </div>

          <ul class='convo'>
              <li class='other'>Hello Sir.</li>
              <li class='self'>Hi, nice to meet you</li>
          </ul>

          <form class='msg-input'>
              <input type='text' placeholder="JusTalk">
              <button><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </form>
      </div>
  </body>
</html>
