html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: 'Dosis'
}

i {
    color: #4ABDAC;
}

i:hover {
    cursor: pointer;
}

.ppl-section {
    width: 23%;
    height: 100%;
    border-right: 1px solid lightgray;
}

.dropdown-content {
    position: absolute;
    border: 1px solid gray;
    margin-top: 5px;
    padding: 10px;
    z-index: 2;
    background-color: white;
    box-shadow: 2px 2px 1px gray;
}

.add-convo-text {
    font-size: 1em;
    padding: 4px;
    width: 250px;
}

.no-user {
    padding: 0;
    margin: 0;
    margin-top: 4px;
    margin-left: 4px;
    font-size: 0.6em;
    color: red;
    display: none;
}

.add-convo-text:focus {
    outline: none;
}

.bot-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-section form {
    display: flex;
    width: 100%;
}

.top-section {
    display: flex;
    padding: 0 10px;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.top-section h3 {
    margin: 0 10px;
    font-size: 1.5em;

}

.msg-section {
    flex-grow: 2;
    /*border: 1px solid black;*/
}


.searchbox {
    width: 85%;
    margin: 10px auto;
    padding: 4px;
    font-size: 1em;
}

.convo-list {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.mini {
    display: flex;
    align-items: center;
    padding: 5px 0;
    padding-left: 20px;
}

.mini:hover {
    background-color: lightgray;
}


.mini h4 {
    margin: 0 20px;
    font-size: 1.6em;
}

.convo {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.other, .self {
    margin: 10px 0;
    padding: 3px 10px;
    border-radius: 1em;
    font-size: 1em;
}

.other {
    align-self: flex-start;
    background-color: #4ABDAC;
}

.self {
    align-self: flex-end;
    background-color: lightgray;
}

.msg-input {
    border-top: 1px solid lightgray;
    width: 76%;
    position: absolute;
    bottom: 0;
}

.msg-input input {
    border: none;
    font-size: 1em;
    width: 93%;
    margin-top: 5px;
    padding: 10px 0;
    padding-left: 10px;
}

.msg-input input:focus {
    outline: none;
}
